*{
    box-sizing: border-box;
    font-family: "Comic Sans MS",sans-serif;

}
body{
    font-family: "Comic Sans MS",sans-serif;
}
.row {
    width: 100%;
  
  }
h1{
    text-align: center;
    border-bottom: 25px;
}
p {
    background-color: #bfbfbf;
    border: 2px solid black;
    height: 160px;
    margin-right: 10px;
    padding: 40px 10px 5px 10px;
    overflow: hidden;
  }
  #box{
    position: relative;
  }
  #title1 {
    background-color: #D59898;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    height: 35px;
    width: 120px;
    padding:5px;
    text-align: center;  
  }
  #title2 {
    background-color:#C14543 ;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    height: 35px;
    width: 120px;
    padding: 5px;
    text-align: center;  
  }
  #title3{
   background-color: #E5D198;
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 120px;
    padding: 5px;
    font-weight: bold;
    text-align: center;  
  }

  @media (min-width: 992px) {
    .col-lg-4{
      float: left;
    }
    .col-lg-4 {
        width: 33.33%;
    }
 }

 @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6,.col-md-12{
      float: left;
    }
    .col-md-6 {
        width: 50%;
      }
      .col-md-12 {
          width: 100%;
      }
}

@media (max-width: 767px) {
    .col-sm-12 {
      float: left;
    }
   
    .col-sm-12 {
      width: 100%;
    }
  
  }
 